
@model List<MachineTest.Models.Category>
@{
    ViewBag.Title = "Category List";
}
<h2>Category List</h2>
<p>
    @Html.ActionLink("Create New Category", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Go to Products", "Index", "Product", null, new { @class = "btn btn-primary" })
</div>
